<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="SchemaInspector" />
  </assemblies>

  <dojo>
    <paths>
      <add name="SchemaInspector" path="ClientResources" />
    </paths>
  </dojo>

  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>

    <requiredResources>
      <add name="SchemaInspector.Test" />
      <add name="SchemaInspector.SchemaInspectorToolbarInitializer" />
    </requiredResources>
  </clientModule>
</module>
